@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Serif", serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
}
.root {
  position: relative;
  top: 0;
  .navBar {
    width: 100%;
    height: 3em;
    background-color:  rgba(0, 0, 0, 0.596);
    color: white;
    font-weight: bolder;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;

    &-category {
      ul {
        display: flex;
      }
      li {
        
        list-style: none;
        margin-top: 0.7em;
        margin-left: 3em;
        align-items: center;
        justify-content: center;
       .link{
        text-decoration: none;
        color: white;
       }
      }
    }

    &-icons {
      flex-basis: 70%;
      img {
        float: left;
        width: 5em;
        margin-left: 3em;
      }
    }
  }
  @media screen and (max-width:480px) and (min-width:420px){
    ul{
      margin-right: 3.5rem;
    }
  }
}
.link:hover{
  background-color: rgb(155, 182, 233);
  border-radius: 0.1rem;
  cursor: pointer;
  text-decoration: none;
}

.Banner {
  position: relative;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  &-img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    right: 7em;
    top: 30%;

    h1 {
      margin-bottom: 1.5em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      color:  white;
    }
    p {
      width: 23em;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.767);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
  @media screen and (max-width: 768px) and (min-width: 480px) {
    h1{
      margin-bottom: 0.5em;
    }
    p{
      width: 30em;
      font-size: small;
      margin-bottom: 2em;
    }
    
  }
  @media screen and (max-width:480px) and (min-width:420px) {

    &-content {
      margin-left: 4em;
      left: -3em;
      top: 1em;
    }
    h1{
      margin-left: 3em;
    }
    p{
      width: 36em;
      font-size: small;
      margin-bottom: 2em;
    }
  }
}

.specialdishes {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.534);

  &-info {
    position: relative;
    padding: 2em;
    width: 46em;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
    label {
      font-size: medium;
      color: rgb(16, 233, 186);
    }
    h1 {
      margin-left: 8em;
      margin-bottom: 1em;
    }
  }
  &-content {
    margin-top: 1em;
  }
  ul {
    margin: auto;
    width: 54em;
    list-style: none;
    gap: 1em;
    padding-left: 1em;
  }
  li {
    flex-basis: 22%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
  }
  img {
    width: 12em;
    border-radius: 0.3em;
    position: relative;
    h5 {
      position: absolute;
      bottom: 5;
      top: 3;
    }
  }
 
   /* Media query for tablet screens */
   @media screen and (max-width: 768px) and (min-width: 480px) {
     .specialdishes-info h1 {
       margin-left: 7em; /* Adjusted margin for h1 */
     }

     .specialdishes-info p {
      width: 80%; /* Adjusted width for p */
     }
     ul{
      width: 50em;
     }
     img{
      width: 10em;
     }

     .list{
       width: 50em;
     }

     img {
       width: 10em; /* Adjusted width for image */
     }
   }

//   /* Media query for mobile screens */
   @media screen and (max-width: 480px) and (min-width: 420px){
    .specialdishes-info h1 {
      margin-left: 2em; 
     }

    .list{
       width: 33em;
    }

     .specialdishes-info p {
       width: 29em; /* Adjusted width for p */
     }

    img {
       width: 8em; /* Adjusted width for image */
     }
   }

}
.specialdishes li:hover
{
  transform: scale(1.4);
  z-index: 1;
  background-color: white;
  width: 35rem;
  height: 14.5rem;
  color: black;
  border-radius: 1rem;
  transition-duration: 0.6s;
}

//Filtered categories
.filteredDishes {
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  &-container {
    margin: auto;
    width: 54em;

    h1 {
      margin-top: 0.7em;
      margin-left: 9em;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &-dishes {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 0.5rem;
  }

  &-category {
    display: flex;
    list-style: none;
    margin: 2em;
    gap: 2em;
  }
  .list {
    width: auto;
    height: 3em;
    background-color: rgba(255, 255, 0, 0.966);
    padding: 0.5em;
    border-radius: 1em;
    font-weight: bolder;
  }
  .active {
    background-color: black;
    color: white;
  }
  .list:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  }

  &-show {
    ul {
      margin: auto;
      width: 54em;
      gap: 1em;
      padding-left: 1em;
    }
    li {
      margin: auto;
      width: 54em;
      flex-basis: 22%;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      list-style: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      padding-left: 0.5em;
      img {
        width: 12rem;
        border-radius: 1.4em;
      }
      h4 {
        margin-bottom: 2rem;
      }
      
    }
  }
  @media screen and (max-width:768px) and (min-width:480px) {

    .filteredDishes-dishes{
      margin-left: 2em;
    }
    
  }
  @media screen and (max-width:480px) and (min-width:420px) {

    .filteredDishes-dishes{
      margin-left: 11em;
      width: 31em;
    }
    ul{
      margin: 0.1em;
      gap: 1em;
      margin-left: 1.5em;
    }
    .filteredDishes-images{
      .show-item{
        width: 26em;
        .card-list{
          width: 2em;
          img{
            width: 9em;
          }
        }
      }
      .card-list{
        width: 3em;
        img{
          width: 2em;
        }
      }
  }
  }
}


.Loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.notAvailable {
  width: 85%;
  height: 8em;
  border: 0.3em solid red;
  display: flex;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: white;
  }
  h3 {
    margin-top: 0.5em;
    color: cornsilk;
  }
  @media screen and (max-width:480px) and (min-width:420px){
    width: 50%;
    margin-left: 12rem;
  }
}

.pagination {
  height: 5em;
  width: 4rem;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  li {
    margin-left: 1em;
    height: 2em;
    width: 3em;
    list-style: none;
    text-align: center;
    border: 0.2em solid black;
  }
  li:hover {
    background-color: white;
    color: black;
  }
}

.popup {
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: full vh;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.664);

  .popup-content {
    width: 35em;
    height: 34em;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 100;
    border: 0.1em solid white;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    border-radius: 0.2em;
    .popbtn {
      outline: none;
      border: none;
      width: 7em;
      height: 2.5em;
      text-align: center;
      font-weight: bold;
      border-radius: 0.5em;
      transition: all ease-in 0.8;
      margin-left: 2em;
      position: fixed;
      bottom: 2em;
    }
    .popbtn:hover {
      background-color: yellow;
    }
  }
  @media screen and (max-width:480px) and (min-width:420px){
    
    .popup-menu{
      background-color: whitesmoke;
      color: #111;
    }
     .popup-content{
      margin-right: 16rem;
      width: 30em;
      height: 37em;
      background-color: whitesmoke;
      color: #111;
      img{
        margin-bottom: 1rem;
      }
    }
  }
  .popup-menu-content-header{
    margin-top: 1.5em;
  }
  .popbtn{
    outline: none;
    border: none;
    width: 7em;
    height: 2.5em;
    text-align: center;
    font-weight: bold;
    border-radius: 0.5em;
    transition: all ease-in 0.8;
    margin-left: 2em;
    position: fixed;
    bottom: 10em;
}
  }


.close {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 101;
  color: red;
  margin-top: 4em;
  background-color: bisque;
  border-radius: 0.2em;
  padding: 0.2em;
}
.close:hover {
  color: rgb(39, 39, 247);
  background-color: white;
  cursor: pointer;
}

.popup-menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 2em;

  &-content {
    color: black;

    img {
      width: 99%;
      height: 30vh;
      object-fit: cover;
      border-radius: 0.5em;
      position: relative;
      top: 0;
      bottom: 0;
    }
    &-header {
      position: absolute;
      top: 11em;
      left: 3em;
      color: black;
      background: yellow;
      text-align: center;
      width: 5rem;
      padding: 0.5em;
      border-radius: 0.7rem;
    }
  }
  h2{
    color: white;
    margin-top: 0.7em;
  }
  .descpription{
    color: white;
    font-size: small;
    margin-top: 0.3em;
    overflow-y: scroll;
    height: 9em;
    margin-top: 0.8em;
  }
  .ingredients{
    color: white;
    display: flex;
    li{
      list-style: none;
      width: auto;
      background-color: white;
      color: black;
      margin-right: 1em;
      margin-top: 0.5em;
      padding: 0.3em;
      border-radius: 0.5em;
    }
  }
}

.footer{
  width: 100%;
  height: 12em;
  background-color:  rgba(0, 0, 0, 0.596);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 12px;
  &-content{
    color: white;
    margin-left: 5em;
    h3{
      margin-top: 1em;
      margin-bottom: 0.7em;
    }
    ul{
      list-style: none;
    }
  }
  @media screen and (max-width:768px) and (min-width:480px) {
    .footer{
      width: 100%;
      &-content{
        height: 12em;
      }
      h3{
        margin-top: 0.1em;
      }
    }
  }
}



.add-to-cart {
  background-color: #F2F1F0;
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 99;

  h1 {
    text-align: center;
    margin-top: 2em;
  }

  &-content {
    position: absolute;
    top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;

    .cart-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 1em;
      width: 69rem;
      max-height: calc(2 * 16em + 1em); // Adjust this value to fit your layout
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1em;
      margin-top: 4em;

      .cart-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.18);
        border-radius: 0.4em;
        position: relative;
        padding: 1em;

        .icon {
          position: absolute;
          top: 1em;
          right: 1em;
          color: black;
          cursor: pointer;
        }

        img {
          width: 14em;
        }

        h5 {
          color: black;
          margin-top: 0.5em;
        }
        .checkout-btn{
          width: 8em;
          height: 1.5em;
          background-color: blue;
          color: white;
          font-size: medium;
          font-weight: bold;
          outline: none;
          border-radius: 0.2em;
          border: none;
        }
        .checkout-btn:hover{
          cursor: pointer;
        }
        
      }
    }
  }

  .cart-btn {
    position: fixed;
    top: 4em;
    right: 1em;
    width: 4em;
    height: 2em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    background-color: bisque;
    color: red;
    font-size: medium;
    font-weight: bold;
  }
}





.popup-icon{
  color: black;
  background-color: white;
  width: 1.5rem;
 padding-left: 0.2rem;
 margin-left: 27rem;
 margin-bottom: 0.2rem;
}
.popup-icon:hover{
  color: red;
}
  



  .checkout {
    width: 100%;
    height: 100%; 
    background-color: #F2F1F0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;

  
    &-main {
      width: 27em;
      list-style: none;
      gap: 1em;
      display: flex;
      flex-direction: column; 
      overflow-y: scroll;
      height: 30vh; 
  
      &-sub {
        display: flex;
        flex-direction: column;
        flex-basis: 22%;
        .checkout-image {
          width: 3em;
          height: 3em;
          border-radius: 0.2em;
          margin-left: 1.5em;
        }
        .checkout-heading {
          display: flex;
          align-items: center;
          text-align: center;
          width: 24em;
          margin-left: 1em;
        }
      }
    }
  
    .item {
      display: flex;
  
      &-price {
        color: blue;
        width: 280px;
        font-size: larger;
        font-weight: bold;
      }
  
      .amount {
        color: blue;
        margin-top: 0.8em;
      }
    }
    .checkout-container{
        height: 32em;
        width: 30em;
        border: 2px solid  rgba(0, 0, 0, 0.96);
        margin-left: 5em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 6em;

        h1{
          margin-left: 4em;
          display: flex;
          align-items: center;
          text-align: center;
        }
        &-one{
          height: 3em;
          border:2px 2px 2px 2px solid  rgba(0, 0, 0, 0.96);
          border-bottom: 1px solid #e0e0e0;
          display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            span{
              font-size: 18px;
      font-weight: bold;
            }  
        }
        &-two{
          margin-top: 0.5em;
          height: 15em;
          border-bottom: 1px solid #e0e0e0;
        }
        &-three{
          margin-bottom: 1em;
          .price-section
          {
            display: flex;
            justify-content: space-between;
            margin-left: 2em;
            margin-right: 2em;
            color: rgb(39, 39, 247);
  
            &-total
            {
              display: flex;
            justify-content: space-between;
            margin-left: 2em;
            margin-right: 2em;
            margin-top: 0.2em;
            color: rgb(39, 39, 247);
              font-size: medium;
              font-weight: bolder;
            }
          }
          border-bottom: 1px solid #e0e0e0;
        }
  .place-order-btn {
      width: 100%;
      padding: 15px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      margin-top: 15px;
  }
  
  .place-order-btn:hover {
      background-color: #0056b3;
  }
  
  .terms-conditions {
      font-size: 12px;
      margin-top: 10px;
      margin-left: 2em;
  }
  
  .terms-conditions a {
      color: #007bff;
      text-decoration: none;
  }
  
  .terms-conditions a:hover {
      text-decoration: underline;
  }
    }
    .main-address{

      margin-top: 5em;
      margin-bottom: 10px;
      .address{
        width: 42em;
        height: 10em;
        margin-top: 1em;
        margin-left: 3.5em;
        padding-left: 1em;
        padding-top: 1em;
        border: 2px solid black;
        border-radius: 0.5em;
      }
    }
    .add-address-btn
    {
      margin-left: 4.1em;
        margin-top: 1em;
        width: 16em;
        height: 3em;
        outline: none;
        border: 2px solid black;
        border-radius: 0.5em;
        font-size: medium;
        font-weight: bolder;
        cursor: pointer;

        .icon{
          padding-right: 1em;
        }
    }
    .add-address-btn:hover{
      background-color: rgb(231, 198, 154);
    }
    .edit{
      width: 4em;
      height: 1.5em;
      font-size: small;
      font-weight: 300;
      outline: none;
      border: none;
      background-color: dimgrey;
      margin-top: 0.5em;
      border-radius: 0.2em;
      color: #e0e0e0;
    }
    .delete{
      width: 4em;
      height: 1.5em;
      font-size: small;
      font-weight: 300;
      outline: none;
      border: none;
      background-color: dimgrey;
      margin-top: 0.5em;
      border-radius: 0.2em;
      margin-left: 1em;
      color: #e0e0e0;
    }
    .edit:hover{
      background-color: #007bff;
      color: #ffffff;
    }
    .delete:hover{
      background-color: #007bff;
      color: #ffffff;
    }
    @media screen and (max-width:480px) and (min-width:420px){
      .checkout{
        width: 100%;
    height: 100%; 
    background-color: #F2F1F0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 12px;
    
      }
        .checkout-container{
          margin-left: 8em;
          width: 65%;
          height: 60%;
          background-color: #F2F1F0;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 99;
        }
        .main-address{
          margin-top: 39em;
          margin-left: -2em;
        }
        .address{
          width: 36em;
          height: 10em;
          margin-top: 1em;
          margin-left: 6.5em;
          padding-left: 1em;
          padding-top: 1em;
          border: 2px solid black;
          border-radius: 0.5em;
        }
        .add-address-btn{
          margin-left: 8.1em;
        margin-top: 1em;
        width: 16em;
        height: 3em;
        outline: none;
        border: 2px solid black;
        border-radius: 0.5em;
        font-size: medium;
        font-weight: bolder;
        cursor: pointer;
        }
      
      
    }
  }

  .popup
  {

    .popup-content{
      background-color: whitesmoke;
      width: 30em;
      height: 23em;
      border-radius: 0.5em;

      .label{
        font-size: medium;
        font-weight: bold;
      }
      .input-1{
        outline: none;
        border: none;
        width: 14em;
        height: 2em;
        margin-top: 1em;
        margin-left: 1.1em;
        border: 1px solid #007bff;;
        border-radius: 0.2em;
      }
      .input-2{
        outline: none;
        border: none;
        width: 14em;
        height: 2em;
        margin-top: 1em;
        margin-left: 1.1em;
        border: 1px solid #007bff;;
        border-radius: 0.2em;
      }
      .input-3{
        outline: none;
        border: none;
        width: 14em;
        height: 2em;
        margin-top: 1em;
        margin-left: 3.1em;
        border: 1px solid #007bff;;
        border-radius: 0.2em;
      }
      .text-area{
        outline: none;
        border: none;
        width: 14em;
        height: 4em;
        margin-top: 1em;
        border: 1px solid #007bff;;
        border-radius: 0.2em;
        margin-left: 0.2em;
      }
      .submit{
      background-color: #007bff;
      color: #ffffff;
      border: none;
      width: 12em;
      height: 3em;
      margin-top: 1.7em;
      font-weight: bolder;
      font-size: medium;
      border-radius: 0.5em;
      }
    }
  }
  

