@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Serif", serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
}
.root {
  position: relative;
  top: 0;
  .navBar {
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    font-weight: bolder;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

    &-category {
      flex-basis: 40%;

      ul {
        display: flex;
      }
      li {
        list-style: none;
        margin-top: 0.7em;
        margin-left: 3em;
        align-items: center;
        justify-content: center;
      }
    }

    &-icons {
      flex-basis: 70%;
      img {
        float: right;
        width: 5em;
        margin-right: 3em;
      }
    }
  }
}

.Banner {
  position: relative;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  &-img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    right: 7em;
    top: 30%;

    h1 {
      margin-bottom: 1.5em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    p {
      width: 23em;
      font-weight: bold;
    }
  }
}

.specialdishes {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.534);

  &-info {
    position: relative;
    padding: 2em;
    width: 46em;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
    label {
      font-size: medium;
      color: rgb(16, 233, 186);
    }
    h1 {
      margin-left: 9em;
      margin-bottom: 1em;
    }
  }
  &-content {
    margin-top: 1em;
  }
  ul {
    margin: auto;
    width: 54em;
    list-style: none;
    gap: 1em;
    padding-left: 1em;
  }
  li {
    flex-basis: 22%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
  }
  img {
    width: 12em;
    border-radius: 0.3em;
    position: relative;
    h5 {
      position: absolute;
      bottom: 5;
      top: 3;
    }
  }
}

//Filtered categories
.filteredDishes {
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  &-container {
    margin: auto;
    width: 54em;

    h1 {
      margin-top: 0.7em;
      margin-left: 9em;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &-dishes {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 0.5rem;
  }

  &-category {
    list-style: none;
    margin: 2em;
    gap: 2em;
  }
  .list {
    width: auto;
    height: 3em;
    background-color: rgba(255, 255, 0, 0.966);
    padding: 0.5em;
    border-radius: 1em;
    font-weight: bolder;
  }
  .active {
    background-color: black;
    color: white;
  }
  .list:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  }

  &-show {
    ul {
      margin: auto;
      width: 54em;
      gap: 1em;
      padding-left: 1em;
    }
    li {
      flex-basis: 22%;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      list-style: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      padding-left: 0.5em;
      img {
        width: 11rem;
        border-radius: 1.4em;
      }
      h4 {
        margin-bottom: 2rem;
      }
      
    }
  }
}

.Loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.notAvailable {
  width: 85%;
  height: 8em;
  border: 0.3em solid red;
  display: flex;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: white;
  }
  h3 {
    margin-top: 0.5em;
    color: cornsilk;
  }
}

.pagination {
  height: 5em;
  width: 4rem;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  li {
    margin-left: 1em;
    height: 2em;
    width: 3em;
    list-style: none;
    text-align: center;
    border: 0.2em solid black;
  }
  li:hover {
    background-color: white;
    color: black;
  }
}

.popup {
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: full vh;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.664);


  .popup-content {
    width: 35em;
    height: 34em;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 100;
    border: 0.1em solid white;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    border-radius: 0.2em;
    // h4 {
    //   color: white;
    // }
    .popbtn {
      outline: none;
      border: none;
      width: 7em;
      height: 2.5em;
      text-align: center;
      font-weight: bold;
      border-radius: 0.5em;
      transition: all ease-in 0.8;
      margin-left: 2em;
      position: fixed;
      bottom: 5em;
    }
    .popbtn:hover {
      background-color: yellow;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 101;
  color: red;
  margin-top: 4em;
  background-color: bisque;
  border-radius: 0.2em;
  padding: 0.2em;
}
.close:hover {
  color: rgb(39, 39, 247);
  background-color: white;
  cursor: pointer;
}

.popup-menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 2em;

  &-content {
    color: black;

    img {
      width: 99%;
      height: 30vh;
      object-fit: cover;
      border-radius: 0.5em;
      position: relative;
      top: 0;
      bottom: 0;
    }
    &-header {
      position: absolute;
      top: 11em;
      left: 3em;
      color: black;
      background: yellow;
      text-align: center;
      width: 5rem;
      padding: 0.5em;
      border-radius: 0.7rem;
    }
  }
  h2{
    color: white;
    margin-top: 0.7em;
  }
  .descpription{
    color: white;
    font-size: small;
    margin-top: 0.3em;
    overflow-y: scroll;
    height: 9em;
    margin-top: 0.8em;
  }
  .ingredients{
    color: white;
    display: flex;
    li{
      list-style: none;
      width: auto;
      background-color: white;
      color: black;
      margin-right: 1em;
      margin-top: 0.5em;
      padding: 0.3em;
      border-radius: 0.5em;
    }
  }
}

.footer{
  width: 100%;
  height: 10em;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 12px;
  &-content{
    color: white;
    margin-left: 1em;
    h3{
      margin-top: 1em;
      margin-bottom: 0.7em;
    }
    ul{
      list-style: none;
    }
  }
}

.add-to-cart{
  width: 100%;
  height: 96vh;
  background-color: white;
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  h1{
    text-align: center;
    margin-top: 2em;
  }
  &-content{
    position: absolute;
    top: 3em;
    margin-top: 2em;
    margin-left: 0;
    ul{
      width: 84rem;
      display: flex;
      margin: auto;
      margin-top: 3em;
      li{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.18);
        flex-basis: 22%;
        text-align: center;
        border-radius: 0.2em;
        .icon {
          position: absolute;
          z-index: 11;
          padding-left: 220px;
          padding-top: 20px;
          color: black;
        
        }
        img{
          width: 14em;
        }
        h5{
          color: black;
        }
      }
    }
    
  }
  .cart-btn{
    position: fixed;
    top: 4em;
    right: 1em;
    width: 4em;
    height: 2em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    background-color: bisque;
    color: red;
    font-size: medium;
    font-weight: bold;
  }
}
